<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <!--<script src="todo.js"></script>-->
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="col s12">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Food Blog</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">Map</a></li>
                        <li><a href="/createPost">Create Blog Post</a></li>
                        <li><a href="collapsible.html">Feed</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="col s12">
        <div class="row">
            <div class="card large">
                <img id="main-img" class="activator" src="../images/hero.jpg">
                <p></p>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"></h5>
                    <p class="grey-text text-lighten-4"></p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text"></h5>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright

            </div>
        </div>
    </footer>
</div>
</body>
</html>